<div class="yui3-main">
	<div class="yui3-b">
	&nbsp;
	</div>
	<div class="yui3-b">
		<div class="yui3-g">
			<div class="yui3-u first" id="edi_class_list">
				<%= render :partial => 'edi_class_list' %>
			</div>
			<div class="yui3-u" id="edi_file_list">
				<%= render :partial => 'edi_file_list' %>
			</div>
		</div>
	</div>
</div>
