<div class="list">
<table width="100%">
	<thead>
		<tr>
			<th><%= t 'label.ship_order.work_no' %></th>
			<th><%= t 'label.ship_order.status' %></th>
		</tr>
	</thead>
	<tbody>
		<% for work_order in @work_orders %>
			<tr>
				<td><%= link_to_remote work_order.work_no, :url => {:action => 'search', :work_no => work_order.work_no} %></td>
				<td><%= work_order.status %></td>
		<% end %>
	</tbody>
</table>
</div>
