<ul>
	<% for order in orders %>
		<% str = [order.goods_code, order.show_status + ' ' + order.location].join('<br/>') %>
		<% if order.status == '30' %>
			<li>
				<%= str %>
				<small class="counter"><%= order.order_qty %></small>
			</li>
		<% else %>
			<li class="arrow">
				<%= link_to_remote str, :url => {:action => 'picked', :id => order.id} %>
				<small class="counter"><%= order.order_qty %></small>
			</li>
		<% end %>
	<% end %>
</ul>
