<div class="list">
<table width="60%">
	<thead>
	</thead>
	<tbody>
		<tr>
			<td>引当リセット(全倉庫)</td>
			<td class="num">
				<%= button_to_remote '実行', :url => {:action => 'reset_allocate'} %>
			</td>
		</tr>
	</tbody>
</table>
</div>
