<div class="yui3-gf">
	<div class="yui3-u first">
		<div id="ware_house_list">
			<%= render :partial => "shared/ware_house_list" %>
		</div>
	</div>
	<div class="yui3-u">
		<div id="edi_class_list">
			<%= render :partial => 'edi_class_list' %>
		</div>
		<div id="edi_file_list">
			<%= render :partial => 'edi_file_list' %>
		</div>
	</div>
</div>
