/* for birdfarm */

body {
	background: #CFCFA0;
}


#hd #bd {
	background: #CFCFA0;
}

.yui-skin-sam .yui-navset .yui-content{
	background: #E0E0E0;
}

.box {
	margin  : 5px;
	padding : 5px;
	border  : 1px solid #FFF;
}

.box table th{
	width : 60px;
	padding-right : 5px;
}

.box table td{
	padding-left : 2px;
}

.search {
	margin  : 5px;
	padding : 5px;
	border  : 1px solid #666;
}

.list {
	margin  : 5px;
	padding : 0px;
}

.list table th{
	background : #660000;
	color : #fff;
	font-weight : bold;
	padding : 3px;
}

.list table td{
	padding : 2px;
	border-bottom: 1px solid #666; 
}

.list2 table th{
	background : #660000;
	color : #000;
	font-weight : bold;
	padding : 3px;
}

.list2 table td{
	padding : 2px;
	border-bottom: 1px solid #666633; 
}

.list2 a{
  text-decoration: none;
}

.num {
	text-align: right;
}

#menu {
	padding : 5px;
	float: right;	
}

#menu a {
  text-decoration: none;
	font-weight : bold;
	margin : 0px;
	padding : 0px;
	padding-right : 3px;
	padding-left : 3px;
}

#menu a:hover {
	background : #666;
	color : #fff;
}

#hd {
	height: 60px;
}

#message {
	padding: 25px 0px 5px 0px;
}

#message #error {
	border-bottom: 2px solid #f48e8e;
	border-top: 2px solid #f48e8e;
	background: #f7b7b7;
	padding: 5px;
	font-size: 12px;
	color: #801616;
	margin: 0 0 20px 0;
}

#message #notice {
	border-bottom: 2px solid #95ccef;
	border-top: 2px solid #95ccef;
	background: #d9ebf6;
	padding: 5px;
	font-size: 12px;
	color: #245574;
	margin: 0 0 20px 0;
}

#si_info table th{
	width : 200px;
	text-align : right;
}

.logo {
	border-bottom : 3px solid red;
}

.big {
	color : #CC3300;
	font-size : 30px;
	text-shadow: 2px 2px 3px black;
	font-weight: bold;
}
.low {
	color : black;
	font-size : 24px;
	/* text-shadow: 3px 3px 5px black; */
	font-weight: bold;
}

#hello {
	float: left;
	margin: 0;
	padding: 5px;
	/* color: #486D94; */
	color: #000;
	font-weight: bold;
}

#ware_house_list h2 {
	padding: 5px;
	padding-left: 10px;
	background : #660000;
	color : #fff;
	font-weight: bold;
	border-bottom: 1px solid #CFCFA0;
}

#ware_house_list li {
	display:block;
	padding: 10px;
	padding-left: 30px;
	background : #990000;
	color : #fff;
	font-weight: bold;
	border-bottom: 1px solid #CFCFA0;
}
