/* スタイルシート: public/stylesheets/will_paginate.css */
.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #990000;
  text-decoration: none;
  color: #660000;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #FF9999;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #660000;
  font-weight: bold;
  background-color: #660000;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}
