<div class="yui3-ge">
	<div class="yui3-u first">
		<div id="search">
			<%= render :partial => "search" %>
		</div>
		<div id="work_order_list">
			<%= render :partial => "work_order_list" %>
		</div>
	</div>
	<div class="yui3-u">
		<%= render :partial => "active_order_list" %>
	</div>
</div>
