<h2><%= t 'activerecord.models.ware_house' %></h2>
<ul>
	<% @ware_houses.each do |ware_house| %>
		<li>
			<%= link_to_remote ware_house.name, :url => {:action => :search, :ware_house => ware_house.id} %>
		</li>
	<% end %>
</ul>
